.header_logo__ {
  // min-width: 86px;
  max-width: 110px;
  min-width: 100px;
  display: block;
  z-index: 1;
  flex-basis: content;
  position: relative;
  
  @include md {
    margin-inline-end: 40px !important;
  }
  
  
  
  @include xxs {
    max-width: 73px;
    min-width: 73px;
  }
  
  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}