// nav-om -large sizes
.nav-om {
  display: flex;
  align-items: center;
  position: relative;
  gap: 45px;
  z-index: 1;

  @include md {
    gap: 15px;
  }

  @include dir {
    gap: 20px;
  }

  .close-button__,
  .nav_logo__ {
    display: none;
  }

  .nav-list-om {
    display: flex;
    margin-bottom: 0;
    gap: 40px;

    @include md {
      gap: 20px;
    }

    > li {
      cursor: pointer;
      position: relative;

      > a {
        font-size: 12px;
        font-weight: 400;
        color: $thirdColor;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.5s;
        padding: 13px 0;
        position: relative;
        display: block;
        margin: 0;
        text-align: start;

        @include md {
          @include dir {
            font-size: 9px;
          }
        }

        &:hover {
          color: $secondaryColor;
        }
      }

      &.active {
        a {
          font-size: 15px;
          font-weight: 700;

          &::after {
            content: '';
            position: absolute;
            background-color: $thirdColor;
            height: 1px;
            width: 100%;
            bottom: 0px;
            inset-inline-start: 0;
            transition: 0.5s;
          }

          &::before {
            content: url(../images/shapes/active_header_link_shape.svg);
            position: absolute;
            bottom: -7px;
            inset-inline-start: -1px;
            transition: 0.5s;
          }

          &:hover {
            color: $secondaryColor;

            &::after {
              background-color: $secondaryColor;
            }
            &::before {
              filter: invert(58%) sepia(80%) saturate(416%) hue-rotate(160deg) brightness(91%) contrast(89%);
              inset-inline-start: calc(100% - 13px);
            }
          }
        }
      }
    }
  }
}

// nav-om  sm - xs size
@include sm {
  .nav-om {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    z-index: 1111;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .nav_logo__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      // margin-bottom: 10px;
      // max-width: 150px;
      min-width: 200px  ;

      img {
        max-width: 100%;
        // filter: brightness(0) invert(1);
      }
    }

    .close-button__ {
      display: block;
    }

    // .bavbar-logo-om {
    //   display: flex;
    //   max-width: 100%;
    //   justify-content: center;
    //   margin-bottom: 50px;
    //   filter: brightness(0) invert(1);

    //   img {
    //     max-width: 100%;
    //   }
    // }

    @include dir {
      left: -100%;
      right: unset;
    }

    &.active-menu {
      right: 0;

      @include dir {
        left: 0;
        right: unset;
      }
    }

    .nav-list-om {
      display: block;
      order: 3;
      width: 100%;
      margin: 0;
      padding: 0;

      @include dir {
        margin: 0;
        padding: 0;
      }

      > li {
        > a {
          color: $thirdColor !important;
          padding: 10px 25px;
          display: block;
          margin: 0;
          font-size: 14px;

          &::after {
            content: none;
            display: none;
          }

          @include dir {
            margin: 0;
          }

          &:hover {
            background-color: transparent;
          }
        }

        &.active {
          a {
            color: $primaryColor;
            font-size: 14px;
            font-weight: 700;

            &::after,
            &::before {
              display: none;
            }
          }
        }

        &:nth-child(odd) {
          > a {
            background-color: rgba($thirdColor, 0.2);
          }
        }
      }
    }
  }
}
