// dropdown menu
.dropdown__ {
  position: relative;

  > a,
  .butt__ {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    color: $headingMainColor;
    font-size: 14px;
    width: 100%;

    &::after {
      content: url(../images/shapes/arrow-right.svg);
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-inline-start: 6px;
      height: 18px;
      transition: 0.5s;
    }
    
    &.info_link_block__ {
      &::after {
        // content: url(../images/shapes/menu.svg);
        // filter: brightness(0) invert(1);
        // width: 25px;
        // height: 35px;
        // margin: 0;
        // margin-inline-start: auto;
        // transition: 0.5s;
        display: none;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu__ {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: table;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    padding: 5px 0;
    border: none;
    transform-origin: center 0;
    visibility: hidden;
    opacity: 0;
    padding: 12px 17px;
    border-radius: 0;
    transform: translateX(-50%);
    box-shadow: 0 0 40px rgba(#000, 0.2);
    transition: 0.5s;

    @include sm {
      min-width: 100%;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a,
      .list_content__ {
        font-size: 12px;
        font-weight: 300;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: $thirdColor;
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;

        &::before {
          margin-inline-end: 10px;
        }

        &.header_daily_visits {
          &::before {
            content: url(../images/shapes/header_daily_visits.svg);
          }
        }

        &.permits {
          &::before {
            content: url(../images/shapes/header_permits_icon.svg);
          }
        }

        &.services {
          &::before {
            content: url(../images/shapes/header_services_icon.svg);
          }
        }

        &.modify_my_data {
          &::before {
            content: url(../images/shapes/header_modify_my_data_icon.svg);
          }
        }

        &.my_cards {
          &::before {
            content: url(../images/shapes/my_cards_header_icon..svg);
          }
        }

        &.real_estate_rent {
          &::before {
            content: url(../images/shapes/real_estate_rent.svg);
          }
        }

        &.daily_real_estate {
          &::before {
            content: url(../images/shapes/daily_real_estate.svg);
          }
        }

        &.my_wallet__ {
          &::before {
            content: url(../images/shapes/my_wallet.svg);
          }
        }

        &.change_password {
          &::before {
            content: url(../images/shapes/change_password.svg);
          }
        }

        &.signout_link__ {
          border: none;
          background-color: transparent;
          color: $mainRedColor;

          &:focus,
          &:active {
            border: none;
            outline: none;
          }


          &::before {
            content: url(../images/shapes/log_out.svg);
          }
          
          &:hover {
            color: $mainRedColor;
            &::before {
              filter: unset;
            }
          }
        }

        &:hover {
          text-decoration: none;
          color: $secondaryColor;

          &::before {
            filter: invert(63%) sepia(43%) saturate(638%) hue-rotate(156deg) brightness(89%) contrast(94%);
          }
        }
      }
    }
  }

  &:hover {
    .sub-menu__ {
      visibility: visible;
      opacity: 1;
      z-index: 111;
      border-radius: 0 0 25px 25px;

    }
  }
}

// .hamburger_menu {
//   position: absolute;
//   top: 50%;
//   inset-inline-end: 0;
//   transform: translateY(-50%);
//   width: 20px;
//   height: 17px;
  
//   >span {
//     background-color: $primaryColor;
//     width: 100%;
//     height: 3px;
//     border-radius: 2px;
//     position: absolute;
//     opacity: 1;
//     transition: 0.5s ;
//     inset-inline-start: 0;

//     @include sm {
//       background-color: #fff;
//     }
    
//     &:nth-last-of-type(1) {
//       top: unset;
//       bottom: 0;
//     }
//     top: 0;
    
//     &:nth-last-of-type(2) {
//     }
//   }

//   .broken_line {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     position: absolute;
//     width: 100%;
//     top: 50%;
//     height: 3px;
//     transform: translateY(-50%);
//     transition: 0.5s;

    

//     >span{
//       height: 3px;
//       border-radius: 2px;
//       background-color: $primaryColor;

//       @include sm {
//         background-color: #fff;
//       }

//       &:nth-last-of-type(1) {
//         width: 30%;  
//       }
//       &:nth-last-of-type(2) {
//       width: 60%;  
//       }
//     }
//   }
// }


@include sm {
  .dropdown__ {
    > a,
    .butt__ {
      color: #fff;
      font-size: 14px;
      background-color: rgba(#fff, 0.2);
      height: 49px;
      padding: 0 10px;
      border-radius: 13px;

      &::after {
        filter: brightness(0) invert(1);
      }
    }

    .figure__ {
      filter: brightness(0) invert(1);
    }
  }
}