.sing-up-blocks {
  display: flex;
  align-items: center;


  .singup_link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid $thirdColor;
    height: 47px;
    padding: 3px 20px;
    border-radius: $mainBorderRadius;
    font-size: 14px;
    color: $thirdColor;
    font-weight: 500;
    text-decoration: none;
    box-shadow: $mainShadowColor;
    transition: 0.5s;

    &:not(:last-child) {
      margin-inline-end: 18px;
    }
    
    &:hover {
      color: #fff;
      background-color: $thirdColor;
    }
    
    &.login_link {
      border-color: transparent;
      background-color: $secondaryColor;
      color: #fff;
      
      &:hover {
        background-color: rgba($secondaryColor, 0.85);
        border: 1px solid $secondaryColor;
      }
      
    }
    
    .icon__ {
      background-color: transparent !important;
      margin-inline-end: 5px;
    }
  }

  &.nav_sign_block__ {
    display: none;
  }
}




@include sm {
  .sing-up-blocks {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    .singup_link {
        width: 50%;
        border-radius: 0;
        margin-bottom: 0;
        min-width: 70px;
        font-size: 14px !important;
        padding: 3px 10px;
        height: 49px;
        color: $thirdColor;
        border: 1px solid rgba($thirdColor, 0.2);
        background-color: transparent;

        @include xxs {
          font-size: 10px;
        }
        
        &:hover {
          background-color: rgba($thirdColor, 0.2);
          border: 1px solid rgba($thirdColor, 0.2);
          color: $thirdColor;
        }
        
        &.login_link {
          background-color: rgba($thirdColor, 0.2);
          border: 1px solid rgba($thirdColor, 0.2);
          color: $thirdColor;
          height: 49px;
          margin: 0;
          
          &:hover {
            border: 1px solid rgba($thirdColor, 0.2);
            background-color: rgba($thirdColor, 0.2);
            color: #fff;
          }
      }
    }
  
    &.nav_sign_block__ {
        display: block;
        margin-bottom: 30px;
    }
  }
}