.menu_button__ {
  display: none;

  @include sm {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($thirdColor, 0.2);
    position: relative;
    width: 40px;
    height: 40px;
    color: $primaryColor;
    border-radius: 50%;

    svg {
      width: 20px;

      path {
        fill: $thirdColor;
      }
    }
  }
}

.lang_link__ {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 10px;
  font-size: 12px;
  font-weight: 400;
  transition: 0.5s;
  color: $thirdColor;
  padding: 0 10px;

  .figure__ {
    margin-inline-end: 5px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($thirdColor, 0.7);
    border-radius: $mainBorderRadius;
    color: #fff;

    .figure__ {
      filter: brightness(0) invert(1);
    }
  }

  // @include sm {
  //   // background-color: rgba(#fff, 0.2) !important;
  //   border-radius: $mainBorderRadius;
  //   color: #fff !important;

  //   .figure__ {
  //     filter: brightness(0) invert(1) !important;
  //   }
  // }
}

.notification_link__ {
  // background-color: rgba($secondaryColor, 0.1);
  position: relative;

  &.has_notification {
    &::before {
      content: "";
      position: absolute;
      background-color: $mainRedColor;
      top: -7px;
      inset-inline-start: -10px;
      border: 3px solid rgba($primaryColor, 1);
      border-radius: 50%;
      width: 15px;
      height: 15px;
      z-index: 5;

      @include xxs {
        border-width: 1px;
        width: 8px;
        height: 8px;
        top: 2px;
        inset-inline-start: 2px;
      }
    }
  }
}

// large sizes

.toolbar_options__ {
  display: flex;
  align-items: center;
  padding: 0;
  // position: relative;
  z-index: 1;
  // margin-top: 10px;
  flex-wrap: nowrap;

  .block__ {
    transition: 0.5s;

    &.lang_list_item__ {
      @include sm {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
      }
    }

    &.notification_list_item__ {
      margin-inline-start: 15px;
      .figure__ {
        filter: brightness(0) invert(1);
      }
    }

    &.points_link_wrapper__ {
      .points_link__ {
        display: flex;
        align-items: center;
        gap: 5px;
        min-width: 121px;
        height: 47px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: $thirdBorderRadius;
        margin-inline-start: 15px;
        color: $headingMainColor;
        font-size: 9px;
        border: none;
        font-weight: 400;
        cursor: pointer;

        #vuesax_bulk_gift {
          overflow: visible !important;
        }

        .gift_box_cover__ {
          transition: 0.5s;
        }

        .points_number__ {
          font-size: 18px;
          font-weight: 700;
          margin: 0;
          margin-inline-end: 3px;
        }
        &:focus,
        &:active {
          outline: none;
          border: none;
        }

        &:hover {
          .gift_box_cover__ {
            transform: translate(10px, -12px) rotate(30deg);
          }
        }
      }
    }

    &.info_link_item__ {
      min-width: 197px;
      height: 49px;
      display: flex;
      align-items: center;
      padding-inline-start: 7px;
      padding-inline-end: 15px;
      background-color: transparent;
      border-radius: 15px;
      border-radius: $thirdBorderRadius;
      border: 1px solid $thirdColor;
      padding: 15px 23px;
      position: relative;
      transition: 0.5s;

      @include md {
        // min-width: 200px;
        padding: 0 10px;
      }

      @include sm {
        background-color: rgba($thirdColor, 0.2) !important;
        min-width: 100%;
      }

      &::before {
        content: url(../images/shapes/arrow-circle-left-broken.svg);
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        inset-inline-end: 25px;
        transform: translateY(-40%);
        display: flex;
        align-items: center;
        padding: 0 !important;
        transition: 0.5s;
        
        @include dir {
          transform: translateY(-65%) rotate(180deg);
        }
      }

      // @include dir {
      //   padding: 0 15px;
      //   min-width: fit-content;
      // }

      .info_link_block__ {
        font-size: 11px;
        font-weight: 400;

        @include dir {
          font-size: 10px;

          @include xxs {
            font-size: 8px;
          }
        }

        @include md {
          font-size: 10px;
        }

        @include sm {
          background-color: unset;
          color: $headingMainColor;
        }

        .user_name__ {
          margin-inline-start: 5px;
        }
      }

      .icon__ {
        margin-inline-end: 15px;
      }

      &:hover {
        border-radius: 25px 25px 0 0;

        // .hamburger_menu {
        //   >span {
        //     &:nth-of-type(1) {
        //       top: 50%;
        //       transform: translateY(-50%) rotate(45deg);
        //     }
        //     &:nth-of-type(2) {
        //       opacity: 0;
        //     }
        //   }

        //   .broken_line {
        //     transform: translateY(-50%) rotate(135deg);

        //     @include dir {
        //       transform: translateY(-50%) rotate(-45deg);
        //     }

        //     >span{

        //       &:nth-last-of-type(2) {
        //       width: 50%;
        //       }
        //     }

        //   }
        // }

        &::before {
          transform: translateY(-40%) rotate(-90deg);

          @include dir {
            transform: translateY(-60%) rotate(270deg);
          }
        }
      }
    }

    &.search_mode {
      display: none;
    }

    // &:not(:first-child) {
    //   margin-inline-start: 20px;

    //   @include sm {
    //     margin-inline-start: 4px;
    //   }
    // }
  }
}

// small size
@include sm {
  .toolbar_options__ {
    // margin-top: 20px;
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

    .block__ {
      &.header_search_input_wrapper,
      &.notification_list_item__ {
        min-width: 45px;
        // background-color: rgba(#fff, 0.2);
        justify-content: center;
        position: absolute;
        top: 23px;
        inset-inline-start: 100px;
        order: 3;

        .icon__,
        .figure__ {
          filter: brightness(0) invert(1) !important;
        }

        .header_search_input {
          color: #fff;

          &::placeholder {
            color: #fff;
          }
        }

        &.active {
          margin-bottom: 10px;
          min-width: 100% !important;
          flex-basis: max-content;
          justify-content: flex-start;

          .header_search_input {
            width: 100%;
            display: block;

            &::placeholder {
              font-size: 10px;
            }
          }

          .icon__ {
            min-width: fit-content;
            min-height: fit-content;
            left: unset;
            inset-inline-start: 35px;
          }
        }
      }

      &.notification_list_item__,
      &.notification_list_item__ a {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }

      &.points_link_wrapper__ {
        order: 5;
        min-width: 100%;
        
        .points_link__ {
          min-width: 100%;
          margin: 0;
        }
      }

      &.dropdown__ {
        order: 5;
      }

      &.sing_up_blocks_list_item__ {
        width: 100%;
        order: 1;
      }

      &.lang_list_item__ {
        order: 3;
      }

      &.search_mode {
        display: unset;
      }
    }
  }
}
