// .checkbox-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.checkbox-group-om {
  display: flex;

  .checkbox-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      +.checkbox-label-om {
        // border-color: $secondaryColor;
        // background-color: $secondaryColor;
        background-image: url(../images/shapes/checkbox.svg);
        border: 1px solid transparent;

      }
    }
  }

  .checkbox-label-om {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #BFBFBF;
    background-position: center center;
    background-repeat: no-repeat;
    margin-inline-end: 10px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .label__ {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    color: $headingMainColor;
    cursor: pointer;

    @include xs {
      font-size: 12px;
    }
  }
}