.input__ {
  height: 55px;
  background-color: transparent;
  border: solid 1px $inputBorderColor;
  padding: 24px 33px;
  margin-bottom: 0;
  border-radius: $mainBorderRadius;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: $headingMainColor;
  transition: 0.5s;
  display: flex;
  align-items: center;
  
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &:focus,
  &:hover {
    border-color: $secondaryColor;
  }

  &:focus,
  &:active {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    font-size: 14px;
    font-weight: 300;
    color: $placeholderColor;
    transition: 0.5s;
    opacity: 1;
  }
}
