// .radio-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.radio-group-om {
  display: flex;
  align-items: center;

  .radio-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      + .radio-label-om {
        border-color: $secondaryColor;
        background-image: url(../images/check.svg);
      }

      + .radio_label_button__ {
        background-color: $secondaryColor;
        color: #fff;
        
        .icon__ {
          filter: brightness(0) invert(1);
        }
        
        &.mada_button__ {
          gap: 5px;

          .icon__ {
            filter: unset;
            background-color: #fff;
            border-radius: $secondaryBorderRadius;
          }
          
        }
      }
    }
  }

  .radio-label-om {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #86959f;
    background-position: center center;
    background-size: 10px;
    background-repeat: no-repeat;
  }
  
  .text_ {
    margin: 0;
    font-size: 15px;
    margin-inline-start: 5px;
    cursor: pointer;
    color: $headingMainColor;
  }
  
  .radio_label_button__ {
    background-color: rgba($secondaryColor , 0.12);
    width: 100%;
    height: 55px;
    padding: 20px 15px;
    border-radius: $secondaryBorderRadius;
    color: $paragraphMainColor;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.5s;

    @include md {
      flex-direction: column;
      height: 108px;
    }

    @include sm {
      flex-direction: row;
      height: 55px;
    }

    @include xs {
      flex-direction: column;
      height: 108px;
      font-size: 9px;
    }
    
    .icon__ {
      padding: 10px;
      margin: 0 !important;
      transition: 0.5s;
    }
  }
}