.submit-button__ {
  color: #fff;
  background: $secondaryColor;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0 30px;
  height: 56px;
  width: max-content;
  border-radius: $mainBorderRadius;
  min-width: 134px;
  gap: 5px;

  .icon__ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0;
    transition: 0.5s;
  }

  &:hover {
    background-color: rgba($secondaryColor, 0.9);
    text-decoration: none;
    color: #fff;
    }

  &:focus {
    border: none;
    outline: none;
  }

  &.centered__ {
    margin: 0 auto;
    min-width: 218px;
  }

  &:disabled {
    background-color: $mainBackgroundColor;
  }

  &.full_width_small_screen_only {
    @include xs {
      width: 100%;
    }
  }

  &.secondaryColorButton {
    background-color: $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }
  }

  &.primaryColorButton {
    background-color: $primaryColor;
    color: $thirdColor;

    &:hover {
      background-color: rgba($primaryColor, 0.8);
    }
  }

  &.fixed_width__ {
    min-width: 270px;

    @include xs {
      min-width: 100% !important;
    }
  }

  &.auto_margin_inline_start__ {
    margin-inline-start: auto;
  }

  &.cancellation_button {
    background-color: #fff;
    color: $headingSecondaryColor;
    border: 1px solid $borderColor;

    &:hover {
      background-color: rgba($headingSecondaryColor, 0.05);
    }
  }

  &.like_button__ {
    min-width: 100px;
    height: 40px;
    background-color: rgba($primaryColor, 0.1);
    border: 1px solid $primaryColor;
    color: $primaryColor;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;

    @include sm {
      min-width: 192.6px;
    }

    .icon__ {
      margin: 0;
      margin-inline-end: 5px;
    }

    &:hover {
      background-color: $primaryColor;
      color: #fff;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.fixed_size__ {
    width: 352px;

    @include sm {
      width: 100%;
    }
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.delete_button__ {
    border-radius: 5px;
    border: 1px solid $redColor;
    color: $redColor;
    height: 32px;
    min-width: 87px;

    &:hover {
      background-color: rgba($redColor, 0.1);
    }
  }

  &.call_button {
    font-size: 12px;
    min-width: 95px;
    height: 40px;
    background-color: #e6f9fa;
    border-radius: 5px;
    border: 1px solid #22b1bf;
    color: #22b1bf;

    .phone_icon {
      margin-inline-end: 11px;
      fill: #22b1bf;
      transition: 0.5s;
    }

    &:hover {
      color: #fff;
      background-color: #22b1bf;

      .phone_icon {
        fill: #fff;
      }

      .phone_icon {
        fill: #fff;
      }
    }
  }

  &.main_submit_button__ {
    width: 260px;
    font-size: 15px;

    @include xs {
      height: 35px;
      width: 100%;
      font-size: 10px;
    }
  }

  &.provider_card_messaging_button {
    font-size: 12px;
    gap: 10px;
    height: 49px;
    width: 50%;

    @include md {
      min-width: 30%;
      font-size: 10px;
      gap: 5px;
    }

    @include sm {
      min-width: fit-content;
      padding: 0;
    }
  }

  &.view_invoice_details {
    font-size: 15px;
    color: $secondaryColor;
    background-color: transparent;
    gap: 10px;
    height: 49px;
    padding: 0;
    border-radius: 11px;

    @include sm {
      min-width: 100%;
    }

    .icon__ {
      &:first-of-type {
        background-color: rgba($secondaryColor, 0.15);
        padding: 13px;
        border-radius: 11px;
        margin: 0;
        margin-inline-end: 27px;
        transition: 0.5s;
      }
    }

    &:hover {
      .icon__ {
        &:first-of-type {
          background-color: rgba($secondaryColor, 0.25);
        }
      }
    }
  }

  &.review_the_invoice_button {
    font-size: 15px;
    color: #fff;
    gap: 20px;
    height: 53px;
    border-radius: 11px;
    background-color: $secondaryColor;

    @include sm {
      min-width: 100%;
    }
  }

  &.provider_card_accept_button {
    height: 49px;
    width: 100%;
    font-size: 12px;
  }

  &.provider_card_reject_button {
    padding: 0;
    height: 49px;
    min-width: 45px;
    width: 45px;
    background-color: #e2114a;

    .icon__ {
      margin: 0;
    }

    &:hover {
      background-color: rgba(#e2114a, 0.8);
    }
  }

  &.chat_send_button {
    // width: 41px !important;
    height: 41px !important;
    aspect-ratio: 1/1;
    padding: 0 !important;
    border-radius: 50%;
    min-width: unset;
    margin-inline-start: 20px;
    background-color: $primaryColor;

    .icon__ {
      margin: 0;
    }

    &:hover {
      background-color: $primaryColorHover;
    }
  }

  &.rate_submit_button {
    min-width: 76px;
    height: 49px;
  }

  &.log_out_button {
    background-color: $redColor;
    color: #fff;
    gap: 10px;
    .icon__ {
      filter: brightness(0) invert(1);
    }
  }

  &.chosen_services_delete_button {
    background-color: transparent;
    min-width: fit-content;
    height: fit-content;
    padding: 0;
  }

  &.send_offer_button {
    font-size: 12px;
    font-weight: 500;

    @include sm {
      min-width: 100%;
    }

    &:hover {
      text-decoration: none;
    }
    
  &.modify_button__ {
    height: 49px;
    padding: 0 50px;
  }
  }

  &.create_invoice_button {
    background-color: $secondaryColor;
    color: #fff;
    height: 49px;
    font-size: 12px;
  }

  &.finish_request_button__ {
    background-color: $redColor;
    font-size: 12px;
    height: 49px;
    color: #fff;
    border-radius: 15px;
    
    @include sm {
      min-width: 50%;
    }

    &:hover {
      background-color: rgba($redColor, 0.8);
    }
  }

  &.cancel_request_button__ {
    border-radius: 15px;
    background-color: rgba($redColor, 0.08);
    font-size: 12px;
    height: 49px;
    color: $redColor;

    @include sm {
      min-width: 50%;
    }

    &:hover {
      background-color: rgba($redColor, 0.15);
    }
  }

  &.send_code_again_button__ {
    cursor: pointer;
    color: $secondaryColor;
    background-color: transparent;

    @include xs {
      min-width: 100%;
    }

    &:disabled {
      cursor: not-allowed;
      // background-color: rgba($greyColor , 1);
      color: $headingMainColor;
      filter: brightness(0);
    }
  }

  &.division_remove_button__ {
    background-color: #fff !important;
    border: none;
    cursor: pointer;
    min-width: fit-content;
    height: fit-content;
    padding: 0;
  }

  &.provider_send_offer_button {
    width: 234px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
  }

  &.provider_finish_offer_button {
    width: 169px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    background-color: $secondRedColor;

    &:hover {
      background-color: rgba($secondRedColor, 0.85);
    }
  }

  &.chat_clinte_link__ {
    padding: 0 5px;
    font-size: 14px;
    font-weight: 300;
    height: 44px;
    margin-inline-start: auto;
  }

  &.rating_clinte_button__ {
    padding: 0 5px;
    font-size: 14px;
    font-weight: 300;
    height: 44px;
    margin-inline-start: auto;
  }

  &.upload_files_to_gallary_button__ {
    .icon__ {
      filter: brightness(0) invert(1);
    }
  }

  &.realty_rental_card_button__ {
    background-color: $secondaryColor;
    height: 44px;
    width: 100%;

    .icon__ {
      margin-inline-end: 10px;
    }

    &:hover {
      background-color: rgba($secondaryColor, 0.8);
    }
  }

  &.add_worker_button__ {
    background-color: rgba($secondaryColor, 0.07);
    color: $secondaryColor;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
    
    @include sm {
      font-size: 10px;
    }
    
    &:hover {
      background-color: rgba($secondaryColor, 0.17);
    }
  }

  &.send_request__ {
    height: 56px;
  }

  &.delete_uploaded_files_button__ {
    background-color: $secondRedColor;
    padding: 5px;
    min-width: fit-content;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    &:hover {
      background-color: rgba($secondRedColor, 0.8);
    }
  }

  &.create_entry_permit_button__ {
    margin-inline-start: auto;
  }

  &.submit_booking {
    padding: 20px 96px;
  }

  &.terminate_contract_button {
    background-color: $mainRedColor;
    height: 44px;
    width: fit-content;
    width: 47%;

    &:hover {
      background-color: rgba($mainRedColor ,0.75);
    }
  }

  &.end_contract_button__ {
    background-color: $greenColor;
    height: 44px;
    width: 100%;

    &:hover {
      background-color: rgba($greenColor ,0.8);
    }
  }

  &.renewal_contract_button__ {
    height: 44px;
    background-color: rgba($secondaryColor, 1);
    width: 100%;
    max-width: 203px;
  }

  &.modal_delete_confirmation_button {
    background-color: rgba($mainRedColor ,1);

    &:hover {
      background-color: rgba($mainRedColor ,0.75);
    }
  }

  &.verification_submit_button {
    background-color: $primaryColor;
    color: $thirdColor;
    
    &:hover {
      background-color: rgba($primaryColor, 0.8);

    } 
  }

  &.booking_button {
    background-color: $thirdColor;
    color: #fff;
    height: 38px;
    margin-inline-start: auto;
    font-size: 9px;
    font-weight: 500;
    
    @include xs {
      margin-inline-end: auto;
    }

    &:hover {
      background-color: rgba($thirdColor, 0.9);
    }
  }

  &.modify_bank_account {
    margin: 0 auto;
    margin-top: 40px;
    width: 301px;
    background-color: rgba($thirdColor, 0.08);
    
    &:hover {
      background-color: rgba($thirdColor, 0.18);
    }
  }

  &.delete_account_button__ {
    background-color: rgba($mainRedColor , 0.07);
    color: $mainRedColor;
    font-size: 14px;
    font-weight: 500;
    gap: 7px;
    
    &:hover {
      background-color: rgba($mainRedColor , 0.17);
    }
  }

  &.modify_my_data_button {
    width: 444px;
    margin: 0 auto;
    margin-bottom: 44px;

    @include sm {
      width: 100% !important;
    }
  }
}
