.request_page__ {
  .request_status__ {
    font-size: 17px;
    font-weight: 300;
    color: $paragraphMainColor;

    .status__ {
      font-weight: 500;
      margin-inline-start: 5px;

      &.current__ {
        color: $secondaryColor;
      }

      &.ended__ {
        color: $mainRedColor;
      }
    }
  }

  .info_block__ {
    .title__,
    .info__ {
    @include xs {
        font-size: 10px !important;
      }
    }
  }

  .figure__ {
    padding-bottom: 87.5%;
  }

  .title__ {
    font-size: 16px;
    font-weight: 800 ;
    color: $headingMainColor;
    margin-bottom: 10px;
  }

  .parag__ {
    font-size: 14px;
  }

  .payment_data_wrapper__ {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 23px;

    .payment_data {
      @include xs {
        min-width: calc(50% - 15px);
      }
    }
  }

  .payment_method_wrapper__ {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

    .icon__ {
      padding: 0;
      margin: 0;

      .img-om {
        min-width: 38px;
      }
    }
  }

  .payment_method_parag__ {
    font-size: 12px;
    font-weight: 300;
    color: $paragraphMainColor;
  }

  .bank_number__ {
    font-size: 22px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-top: 35px;
    text-align: center;
    direction: ltr;
  }
}