.intro_section {
  padding: 100px 0 140px;
  position: relative;
  height: 80vh;
  overflow-x: clip;
  height: fit-content;

  @include sm {
    padding: 50px 0 70px;
  }

  @include xs {
    padding: 30px 0 70px;
  }

  .slider_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;

    @include sm {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  .img_wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    width: 58%;
    max-height: 727px;

    @include sm {
      max-width: 100%;
      min-width: 100%;
    }
  }

  .figure__ {
    padding-bottom: 43.466%;
  }

  .title__ {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 37px;
    line-height: 53px;

    @include sm {
      text-align: center;
      font-size: 25px;
      margin-bottom: 25px;
    }

    @include xs {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .parag__ {
    color: $headingMainColor;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 56px;

    @include sm {
      text-align: center;
      font-size: 16px;
      margin-bottom: 30px;
    }

    @include xs {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset-inline-end: -240px;
    width: 892px;
    height: 365px;
    background-color: #43acdc;
    top: 84px;
    transform: rotate(7deg);
    border-radius: 90px;
    transition: 0.5s;
    
    @include sm {
      inset-inline-end: -334px;
      height: 328px;
      top: 27px;
      transform: rotate(12deg);
    }

    @include xs {
      inset-inline-end: -537px;
      height: 228px;
      top: -39px;
      border-radius: 30px;
    }

    @include xs {
      inset-inline-end: -652px;
      width: 892px;
      height: 176px;
      top: -39px;
      border-radius: 20px;
    }

    @include dir {
      transform: rotate(-7deg);
    }
  }

  &::after {
    content: url(../images/intro_section/intro_background.svg);
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    filter: blur(10px);

    @include dir {
      transform: rotate(180deg);
    }
  }
}

.about_us_section {
  position: relative;

  .img_wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .figure__ {
      padding-bottom: 110.86%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -27px;
      inset-inline-start: -20px;
      width: 246px;
      height: 331px;
      background-color: $secondaryColor;
      z-index: -1;
      border-radius: 44px;
    }
  }

  .figure__ {
    flex-grow: 1;
  }

  .main_parag__ {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: $headingMainColor;
    margin-bottom: 27px;

    @include sm {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  .parag__ {
    font-size: 14px;
    font-weight: 300;
    color: $paragraphSecondaryColor;
    margin-bottom: 27px;

    @include sm {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  &::after {
    content: url(../images/intro_section/intro_background.svg);
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    filter: blur(10px);
    transform: rotate(180deg);
    height: 100%;
  }
}

.contact_us_section {
  .contact_us_wrapper__ {
    background-color: rgba($secondaryColor, 0.12);
    border-radius: $mainBorderRadius;
    padding: 67px 76px;

    @include xs {
      padding: 30px;
    }
  }

  .contact_us_form__ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    
    @include xs {
      grid-template-columns: 100%;
    }
  }

  .textarea-om,
  .submit-button__ {
    grid-column: span 2;
    
    @include xs {
      grid-column: unset;
    }
  }

  .site_head__ {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .site_head_sub_title__ {
    font-size: 16px;
    font-weight: 300;
  }

  .location_title_wrapper__,
  .location_info__ {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 24px;

    .icon__ {
      justify-content: center;
      width: 54px;
      height: 48px;
      padding: 13px 15px;
      border-radius: 50%;
    }
  }

  .title_icon__ {
    background-color: rgba($thirdColor, 0.1);
  }

  .title__ {
    font-size: 18px;
    color: $headingMainColor;
    margin-bottom: 7px;
    font-weight: 700;
  }

  .sub_title__,
  .location_info__ {
    font-size: 14px;
    font-weight: 300;
    color: $paragraphSecondaryColor;
    margin: 0;

    @include xs {
      font-size: 11px;
    }
  }

  .location_info__ {
    color: $secondaryColor;
    margin-bottom: 40px;

    @include xs {
      margin-bottom: 20px;
    }
  }

  iframe {
    width: 100%;
    height: 278px;
    border: 9px solid #fff;
    border-radius: $mainBorderRadius;
  }
}
