.registeration_page__ {
  position: relative;
  .img_wrapper {
    flex-grow: 1;
    padding: 80px;

    @include sm {
      padding: 40px;
    }

    @include xs {
      padding: 20px;
    }
  }
  
  .register_figure__ {
    padding-bottom: 76.044%;
    display: block !important;
  }
  
  .second_register_figure__ {
    padding-bottom: 88.19%;
  }

  &::after {
    content: url(../images/intro_section/intro_background.svg);
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    filter: blur(10px);

    @include dir {
      transform: rotate(180deg);
    }
  }
}

.registeration_title {
  text-align: start;
  color: $headingMainColor;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px !important;

  &.center__ {
    text-align: center;
    margin: 0 auto;
  }
}

.registeration_sub_title {
  font-size: 14px;
  font-weight: 300;
  color: $paragraphFifthColor;
  margin-bottom: 40px;

  &.center__ {
    text-align: center;
  }
}

.form_section_head {
  font-size: 12px;
  font-weight: 500;
  color: $primaryColor;
  margin-bottom: 23px;
}

.second_registration_title__ {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: $paragraphFifthColor;
  margin-bottom: 10px;
  margin-top: 35px;
}

.forget_password_link__ {
  font-size: 14px;
  font-weight: 400;
  color: $headingMainColor;
  display: flex;
  height: 100%;
  margin-bottom: 15px;
  margin-inline-start: auto;
  margin-top: 10px;
  color: $headingMainColor;
  width: fit-content;
  transition: 0.5s;

  &:hover {
    color: $secondaryColor;
  }
}

.form_label_for_info__ {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .head__,
  .link__ {
    font-size: 15px;
    color: $headingSecondaryColor;
    margin-bottom: 0;

    @include xxs {
      font-size: 10px;
    }
  }

  .link__ {
    color: $thirdColor ;
    font-weight: 700;
    font-size: 14px;
    transition: 0.5s;
    margin-inline-start: 2px;
    text-decoration: underline;

    @include xxs {
      font-size: 10px;
    }
    
    &:hover {
      color: $secondaryColor;
    }
  }

  // &.border_wrapper__ {
  //   border: 1px solid $primaryColor;
  //   border-radius: $mainBorderRadius;
  //   padding: 20px 10px;
  //   height: 67px;
  //   color: $headingMainColor;

  //   .link__ {
  //     color: $headingMainColor !important;
  //   }

  //   &:hover {
  //     text-decoration: none;
  //   }
  // }
}

.form_label_for_info_group__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registeration_page__ {
  padding-top: 50px;
  padding-bottom: 50px;

  @include sm {
    padding: 60px 0;
  }
  
}

.register_figure__ {
  padding-bottom: 100%;
  flex-grow: 1;

  @include xs {
    display: none;
  }
}

.code_shapes__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: ltr;
  position: relative;
  // max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 26px;
  gap: 10px;

  @include xxs {
    gap: 5px;
  }

  .code-input {
    text-align: center;
    width: 76px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($secondaryColor, 0.42);
    background-color: #fff;
    border-radius: 28px;
    font-size: 27px;
    color: #fff;
    font-family: sans-serif;
    outline: none;
    margin: 0;
    font-weight: 300;
    transition: 0.5s;
    
    @include xxs {
      width: calc(20% - 4px);
    }
    
    &.active {
      font-weight: 600;
      background-color: $secondaryColor;
      border: none;
      color: #fff;
    }

    &::placeholder {
      color: rgba($primaryColor, 0.31);
    }

  }
}

.verification_timer_wrapper__ {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title__ {
    font-size: 13px;
    font-weight: 400;
    color: $paragraphFifthColor;
    margin-bottom: 16px;
    text-align: center;
  }

  .timer__ {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $secondaryColor;
    direction: ltr;
  }
}

.timer_progress_wrapper {
  background-color: rgba($secondaryColor, 0.23);
  border-radius: 10px;
  height: 3px;
  width: 56px;
  margin-top: 11px;
  margin-bottom: 30px;
  position: relative;

  .progress__ {
    position: absolute;
    height: 100%;
    top: 0;
    inset-inline-start: 0;
    border-radius: 10px;
    background-color: $secondaryColor;
  }
}