.service_page {
  .figure__ {
    padding-bottom: 96.61%;
    border-radius: $mainBorderRadius;
    overflow: hidden;
  }
  
  .title__ {
    font-size: 26px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 17px;
    text-transform: capitalize;
  }

  .parag__ {
    font-size: 14px;
    font-weight: 300;
    color: $paragraphMainColor;
    line-height: 22px;
    margin-bottom: 35px;

    @include sm {
      margin-bottom: 20px;
    }

    @include xs {
      margin-bottom: 10px;
    }
  }

  // .service_reservation_wrapper {
  //   background-color: rgba($secondaryColor , 0.13);
  //   padding: 40px 42px 30px;
  //   border-radius: $mainBorderRadius;
  // }

  .inputs_wrapper {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .price_title__ {
    font-size: 12px;
    font-weight: 300;
    color: $paragraphSecondaryColor;
    margin-bottom: 5px;
  }

  .price__ {
    width: 100%;
    padding: 0;
    font-size: 25px;
    color: $headingMainColor;
    font-weight: 700;
    gap: 4px;
  }

  .currency__ {
    font-size: 16px;
    font-weight: 400;
  }
}