.wallet_page__ {
  max-width: 420px;
  margin: 0 auto;

  .wallet_content_warapper__ {
    display: flex;
    align-items: center;
    gap: 33px;
    margin: 45px 0;

    @include xs {
      flex-direction: column;
    }
  }

  .img-om {
    min-width: 135px;
  }

  .title__ {
    font-size: 18px;
    font-weight: 500;
    color: $headingMainColor;
    margin-bottom: 20px;
  }

  .parag__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }

  .price_title__ {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 7px;
  }

  .price__ {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    color: $headingMainColor;
    gap: 5px;

    .currency__ {
      font-size: 18px;
      font-weight: 300;
    }
  }
}