.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  padding: 115px 0 70px;
  background-color: transparent;
  
  @include sm {
    clip-path: polygon(0% 20%,100% 0,100% 100%,0 100%);
  }
  
  @include xs {
    padding: 80px 0 70px;
    clip-path: polygon(0% 10%,100% 0,100% 100%,0 100%);
  }

  &::after {
    content: url(../images/intro_section/intro_background.svg);
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    filter: blur(10px);
    transform: rotate(180deg);
    height: 100%;
    z-index: -2;
  }

  &::before {
    content: '';
    position: absolute;
    clip-path: polygon(0% 30%,100% 0,100% 100%,0 100%);
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: $primaryColor;
    z-index: -1;
  }
}

.footer_content__ {
  padding: 0 90px;
  padding-top: 60px;
  border-radius: $thirdBorderRadius $thirdBorderRadius 0 0;
  border: 0;

  @include sm {
    padding: 0 30px;
    padding-top: 60px;
  }
}

.footer_logo__ {
  .figure__ {
    max-width: 251px;
    @include sm {
      justify-content: center;
    }
  }
}

// .footer_head__ {
//   color: #fff;
//   font-weight: bold;
//   font-size: 18px;
//   margin-bottom: 30px;
//   text-align: start;
// }

.footer_list__ {
  // display: flex;
  // flex-wrap: wrap;
  // row-gap: 15px;
  padding: 0;
  display: grid;
  margin: 20px 0;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;

  // @include sm {
  //   justify-content: center;
  //   align-items: center;
  // }

  li {
    width: 100%;
    // width: calc(100% / 2);

    // @include sm {
    //   display: flex;
    //   justify-content: center;
    // }

    // @include xs {
    //   width: 50%;
    // }
  }

  a {
    font-size: 13px;
    color: $headingMainColor;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;

    @include xs {
      justify-content: center;


      @include dir {
        font-size: 11px;
      }
    }
    

    &:hover {
      padding-inline-start: 10px;
      color: $secondaryColor;
    }
  }
}

.footer_socials__ {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 19px;
  padding: 0;

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 15px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    transition: 0.5s;
    background-color: rgba($thirdColor, 0.08);
    border-radius: 50%;
    padding: 8px;
    transition: 0.5s;

    img {
      filter: none;
      transition: 0.5s;
    }

    &:hover {
      background-color: rgba($thirdColor, 1);

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $headingMainColor;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border: 0;

@include md {
  font-size: 13px;

}

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}

.social_copyrights_wrapper__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
