@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.fixed_header__ {
  position: relative;
  z-index: 111;
  padding: 50px 0 120px;
  background-color: $primaryColor;
  background-color: transparent;

  height: 20vh;

  @include sm {
    padding: 20px 0 100px;
  }

  @include xs {
    padding: 10px 0 30px;
    height: fit-content;
  }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: 0s;
    padding: 25px 0 30px;
    height: fit-content;
  }

  &.active_menu__ {
    animation: active-menu 0.5s;
    background-color: $primaryColor;
    background-color: transparent;
    box-shadow: $secondaryShadowColor;
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }

  &.header_style {
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    position: relative;

    .mask__ {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
        z-index: -1;
        background-color: $primaryColor;
        
        @include dir {
          // clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
          
        }
      }
    }
  }

  .header_content__ {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @include md {
    //   justify-content: unset;
    // }
  }

  @keyframes active-menu {
    0% {
      // transform: translateY(-100%);
      top: -200px;
    }

    100% {
      // transform: translateY(0);
      top: 0;
    }
  }

  @keyframes not-active-menu {
    0% {
      // transform: translateY(0);
      top: 0;
    }

    100% {
      // transform: translateY(-100%);
      top: -200px;
    }
  }
}
