// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: transparent;

  &.swiper-button-disabled {
    &::after {
      content: url("../images/shapes/slider_arrow.png");
    }
    opacity: 1;
  }

  &::after {
    content: url("../images/shapes/slider_arrow_active.png");
    display: block;
    position: static;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: unset;
    transform: rotateY(180deg);

    @include dir {
      transform: unset;
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(0);

    @include dir {
      transform: rotateY(-180deg);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  margin-top: 15px;
  // margin-inline-start: 144px;
  gap: 3px;
  width: 100%;

  &.intro_pagination {
    max-width: calc(42% - 65px);
    margin-top: 90px;
    
    @include sm {
      margin-top: 20px;
      max-width: 100%;
    }
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  border-radius: 24px;
  background-color: #d5d5d5;
  opacity: 1;
  width: 8px;
  height: 5px;
  margin: 0 !important;

  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    border-radius: 24px;
    background-color: $thirdColor;
    width: 20px;
  }
}

// ###################################################################

.arrow-sec {
  display: flex;
  align-items: flex-end;
  height: 40px;
  padding: 0 !important;
  gap: 8px;

  .swiper-button-next,
  .swiper-button-prev {
    position: unset !important;
    bottom: unset !important;
    top: unset !important;
    transform: unset !important;
  }
}

// ###################################################################
// what_distinguishes_us slider animation

.what_distinguishes_us {
  .swiper-slide {
    .img_wrapper {
      &::before {
        opacity: 0;
        width: 0 !important;
        transition: width 0.5s;
      }
    }
    .figure__ {
      width: 0 !important;
      transition: 1s;
    }

    .title__,
    .main_parag__,
    .parag__ {
      opacity: 0;
      transform: translateX(-450px);
      transition: transform 0.5s 0.4s, opacity 0.5s 0.4s;
    }
  }

  .swiper-slide-active {
    .img_wrapper {
      &::before {
        opacity: 1;
        width: 55% !important;
        transition: width 0.5s;
      }
    }
    .figure__ {
      width: 100% !important;
      transition: 1s;
    }

    .title__,
    .main_parag__,
    .parag__ {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.5s 0.4s, opacity 0.5s 0.4s;
    }
  }
}

// ###################################################################
// gallery slider animation and style
.gallery_main_slider__ {
  .swiper-slide {
    position: relative;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
  }

  .figure__ {
    padding-bottom: 62.26%;
  }

  .galalery_slider_title__ {
    position: absolute;
    width: 100%;
    height: 61px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba($primaryColor, 0.78);
    margin: 0;
    opacity: 0;
    bottom: -100px;
    transition: 0;
  }

  .swiper-slide-active {
    .galalery_slider_title__ {
      transition: 0.9s;
      bottom: 0;
      opacity: 1;
    }
  }
}

.gallery_thumbnails_slider__ {
  .swiper-slide {
    background-color: transparent;
    border-radius: $secondaryBorderRadius;
    padding: 5px;
    transition: 0.5s;

    @include xs {
      padding: 2px;
    }
  }

  .swiper-slide-thumb-active {
    // border: 5px solid $primaryColor;
    background-color: $primaryColor;
  }

  .figure__ {
    padding-bottom: 89.05%;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
  }
}
