.button__ {
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  .icon__ {
    margin-inline-end: 10px;
  }

  &.modify_button__ {
    border-radius: 5px;
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
    height: 32px;
    min-width: 87px;

    &:hover {
      background-color: rgba($secondaryColor, 0.1);
    }
  }

  &.delete_button__ {
    border-radius: 5px;
    color: $mainRedColor;
    height: 32px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: url(../images/shapes/delete_icon.svg);
      margin: 0;
      height: 24px;
      width: 24px;
    }

    &:hover {
      background-color: rgba($mainRedColor, 0.1);
      border-radius: $fourthBorderRadius;
    }
  }

  &.number_of_individuals_button {
    &:disabled {
      filter: brightness(0) saturate(1) invert(0.61) sepia(0.05) saturate(9.98) hue-rotate(188deg) brightness(0.91) contrast(0.91);
    }
  }

  &.realty_rental_card_delete_button__ {
    padding: 0 50px;
    height: 44px;
    background-color: rgba($mainRedColor, 0.08);
    border-radius: $secondaryBorderRadius;

    @include sm {
      min-width: 100%;
    }

    .icon__ {
      margin-inline-end: 15px;
    }
  }


}

.buttons_group__ {
  &.flex_group__ {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
    &.group_gap__ {
      gap: 8px;
    }
    
    &.center__ {
      justify-content: center;
    }
    
    &.second_group_gap__ {
      gap: 20px;
    }

    &.none_margin__ {
      margin: 0;
    }
  }

  &.column_dir__ {
    flex-direction: column;
  }

  &.full_width_small_screen_only {

    @include xs {
      min-width: 100%;
    }
  }
  
  @include sm {
    min-width: 100%;
  }
}