// main colors
$primaryColor: #f8e325;
// $primaryColor: #7c7004;
$secondaryColor: #43ACDC;
$thirdColor: #414042;
$mainShadowColor: 0 0 30px rgba(#A3A3A3, 0.14);
$inputBorderColor: rgba($secondaryColor , 0.42);
$mainRedColor: #E40000;

$linkBackgroundColor: #3C435C;
$placeholderColor: #878DA0;
$greenColor: #2BBF00;
$searchBorderColor: rgba(#094271 , 0.1);
$greyColor: #EEEEEE;
$primaryColorHover: rgba($primaryColor, 0.9);
$secondaryColorHover: rgba($secondaryColor, 0.9);
$secondaryShadowColor: 0 0 40px rgba(#707070, 0.11);
$thirdShadowColor: 0 0 30px rgba(#707070, 0.11);
$secondRedColor: #E2114A;
$yellowColor: #FEBB01;
$ratingIconBackground: #cbcbcb;




$secondBorderColor: #BBBBBB;
$redColor: #f54748;
$inputBackgroundColor: #f6f6f6;
$grid-columns: 12;
$grid-gutter-width: 30px;

// head colors
$headingMainColor: #414042;
$headingSecondaryColor: #787E96;
$headingThirdColor: #2a2929;
$headingFourthColor: #737373;
$headingFifthColor: #818181;

//parag Colors
$paragraphMainColor: #878DA0;
$paragraphSecondaryColor: #797979;
$paragraphThirdColor: #3F4653;
$paragraphFourthColor: #9E9E9E;
$paragraphFifthColor: #6B6B6B;
$paragraphSixthColor: #9f9f9f;


$mainSectionTitleBackground: rgba(#3F4653 , 0.06);

//brand Colors
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;
$whatsapp: #379F19;

$borderColor: #EAEAEA;
$borderBreakColor: #3F4653;

//border radius
$mainBorderRadius: 31px;
$secondaryBorderRadius: 9px;
$thirdBorderRadius: 20px;
$fourthBorderRadius: 23px;




$mainBackgroundColor: #F3F3F3;

$dir: "ltr";
