.about_us_card {
  padding: 50px 45px;
  border-radius: $mainBorderRadius;
  height: 100%;
  min-height: 350px;

  .icon__ {
    border-radius: 50%;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 25px;
  }

  .card_title__ {
    text-align: center;
    color: $headingMainColor;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
  }

  .card_parag__ {
    font-size: 16px;
    font-weight: 300;
    color: $paragraphSecondaryColor;
    margin: 0;
    text-align: center;
    line-height: 25px;
  }

  &.primary_color_card {
    background-color: rgba($primaryColor ,0.12);
    
    .icon__ {
      background-color: rgba($primaryColor ,0.12);

    }
  }
  &.secondary_color_card {
    background-color: rgba($secondaryColor ,0.12);
    
    .icon__ {
      background-color: rgba($secondaryColor ,0.12);

    }
  }
  &.third_color_card {
    background-color: rgba($thirdColor ,0.12);
    
    .icon__ {
    background-color: rgba($thirdColor ,0.12);
    }
  }
}

.about_us_cards_wrapper {
  margin-top: 120px;

  @include sm {
    margin-top: 50px;
  }
  
  @include xs {
    margin-top: 20px;
  }
}