.modal {
  top: 10vh;
  overflow: unset !important;

  // .close {
  //   position: absolute;
  //   top: 5px;
  //   inset-inline-start: 10px;
  // }

  .modal-content {
    padding: 35px 80px;
    border-radius: $mainBorderRadius;
    text-align: center;
    border: none;

    @include xxs {
      padding: 38px 10px;
    }

    &.second_padding__ {
      padding: 47px 93px 35px;
    }

    &.third_padding__ {
      padding: 50px 60px;
    }

  }
}

.modal-backdrop {
  background-color: $thirdColor !important;
  opacity: 0.35 !important;
}

// .modal-open .container-fluid, .modal-open  .container {
//   // -webkit-filter: blur(5px) grayscale(60%);
// }


.modal-dialog {
  max-width: 378px;
  margin: 0 auto;
  
  &.small_fixed_width {
    max-width: 330px;
  }

  &.large_width__ {
      max-width: 70%;
  }
}

.modal_block__ {
  > .figure__ {
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;

    &.modal_payment_review_icon {
      margin-bottom: 15px;
    }
  }

  .textarea-om {
    margin-bottom: 20px;
  }

  .title {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 13px;
    color: $headingMainColor;
  }

  .sub_title__ {
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 20px;
    color: $paragraphFourthColor;
    text-align: center;
  }

  .modal_form__ {
    margin-top: 30px;
  }
  
  .points__ {
    font-size: 14px;
    font-weight: 800;
    color: $headingMainColor;
    margin: 0;
    margin-bottom: 15px;

    span {
      display: block;
      font-size: 38px;
    }
  }

  .price__ {
    padding: 7px 15px;
  }

  .parag_head__ {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    color: $headingMainColor;
    text-align: start;
    margin-inline-start: 12px;
    margin-bottom: 15px;
  }

  .parag__ {
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    color: $paragraphFourthColor;
    text-align: start;
    margin-bottom: 15px;

    &.with_border {
      padding-bottom: 20px;
      border-bottom: 1px solid $borderColor;
    }
  }

  .close_modal_button {
    // position: absolute;
    // top: -22.5px;
    // left: 50%;
    // transform: translateX(-50%);
    // width: 45px;
    // height: 45px;
    // border-radius: 50%;
    // border: 3px solid #B7BAC3;
    // background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    font-size: 12px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 25px auto 0;


    .figure__ {
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }

  .submit-button__ {
    margin-top: 20px;
  }
}

.delete_modal {
  .figure__ {
    width: 25px;
    height: 27.5px;
  }
}
