.info_block__ {

  .title__,
  .info__ {
    font-size: 14px !important;
    font-weight: 300 !important;
    color: $paragraphMainColor;
    margin-bottom: 7px;
  }
  
  .info__ {
    color: $headingMainColor;

    @include sm {
      display: flex;
      flex-wrap: wrap;
    }
  }
}