.section_head_wrapper__ {
  margin-bottom: 35px;

  @include xs {
    margin-bottom: 20px;
  }

  .section_header {
    margin: 0;
  }

  &.with_tabs_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
    }

    .page_title__ {
      @include xs {
        font-size: 25px;
      }
    }
  }
  
  &.with_icon__ {
    display: flex;
    align-items: center;

    .icon__ {
      margin: 0;
      max-width: 67px;
      max-height: 62px;
      margin-inline-end: 30px;
    }
  }

  &.center {
    justify-content: center;
  }
}

.section_header {
  margin-bottom: 48px;

  @include sm {
    margin-bottom: 20px;
  }

  @include xs {
    margin-bottom: 15px;

    .site_head__,
    .site_head_sub_title__ {
      text-align: center;
    }
  }

  &.center__ {
    .site_head__,
    .site_head_sub_title__ {
      text-align: center;
    }

    .site_head__ {
      margin-bottom: 12px;
    }
  }

  &.white_color {
    .site_head__,
    .site_head_sub_title__ {
      color: #fff;
    }
  }
}

.site_head__ {
  font-size: 22px;
  font-weight: 700;
  color: $thirdColor;
  margin-bottom: 10px;

  @include sm {
    font-size: 17px;
  }
}

.site_head_sub_title__ {
  font-size: 14px;
  font-weight: 300;
  color: $paragraphSecondaryColor;
  margin: 0;

  @include sm {
    font-size: 14px;
  }

  @include xxs {
    font-size: 10px;
  }
}

.main_section_title {
  font-size: 14px;
  font-weight: 500;
  color: $headingMainColor;
  text-transform: capitalize;
  padding: 15px 26px;
  background-color: $mainSectionTitleBackground;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 8px;
    height: 100%;
    background-color: rgba($secondaryColor, 0.13);
  }
}

.link_arrow_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;

  @include xs {
    flex-direction: column;
    gap: 20px;
  }
}

// ######################## Page Title ########################
.page_head_wrapper {
  margin-bottom: 32px;

  &.center__ {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .page_main_title__,
    .page_sub_title__ {
      text-align: center;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.with_icon__ {
    justify-content: unset;
    // gap: 10px;

    .icon__ {
      margin: 0;
      max-width: 37px;
      max-height: 41px;
      margin-inline-end: 20px;
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column !important;
    }
  }
  
  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
      }
    }
  }
}

.page_main_title__ {
  font-size: 22px;
  font-weight: 700;
  text-align: start;
  color: $thirdColor;

  @include xs {
    font-size: 16px;
  }
}

.page_sub_title__ {
  font-size: 14px;
  font-weight: 300;
  color: $paragraphMainColor;
  margin: 0;
  margin-top: 8px;
}

// ######################## Main Title ########################
.section_main_title__ {
  background-color: rgba($placeholderColor, 0.07);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  margin-bottom: 20px;
}

// ######################## section block title ########################
.section_block_title{
  font-size: 16px;
  font-weight: 800;
  color: $secondaryColor;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.section_block_sub_title__ {
  color: $paragraphSecondaryColor;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}