.mixitup_controls_wrapper__ {
  padding: 0;
  border: none;
  margin: 0;
  gap: 15px;
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: nowrap;

  &.center__ {
    justify-content: center !important;
    min-width: 100% !important;
  }

  &.with_margin {
    margin-bottom: 80px;
  }

  &.small_size_none_margin__ {
    @include sm {
      margin: 0;
    }
  }
  
  @include xs {
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .filter {
    border: none;
    height: 44px;
    width: fit-content;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: $mainBorderRadius;
    color: $linkBackgroundColor;
    background-color: rgba($linkBackgroundColor , 0.1);
    border: 1px solid $borderColor;
    cursor: pointer;
    transition: 0.5s;
    
    @include xs {
      width: fit-content;
      width: 100%;
    }
    
    &:hover {
      background-color: rgba($linkBackgroundColor , 0.2);
    }
    
    &.mixitup-control-active {
      background-color: $linkBackgroundColor !important;
      color: #fff;
      
      &:hover {
        // background-color: $primaryColorHover;
      }
    }
  }

}

.mixitup_box_list {
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 500px;
  
  &.column_dir {
    flex-direction: column;
  }
}