.no_request_wrapper__ {
  padding: 20px 0;

  .icon__ {
    margin-bottom: 25px;
    filter: grayscale(1);
  }

  .title__ {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: $paragraphMainColor;
    margin: 0;
  }
}