.notification_block__ {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $mainShadowColor;
  padding: 28px 40px;
  border-radius: $fourthBorderRadius;
  background-color: #fff;
  border: 1px solid transparent;
  transition: 0.5s;

  @include sm {
    flex-wrap: wrap;
    padding: 28px;
  }
  
  .icon__ {
    margin-inline-end: 22px;
    flex-shrink: 0;

    @include sm {
      margin-bottom: 40px;
    }
  }

  .title_wrapper {
    margin-inline-end: 66px;
    flex-shrink: 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 3px;
      top: 0;
      inset-inline-end: -28px;
      background-color: rgba($primaryColor,0.13);
      border-radius: $fourthBorderRadius;

      @include sm {
        width: 200px;
        inset-inline-end: 50%;
        transform: translateX(-30%);
        top: unset;
        bottom: -20px;
        height: 3px;


      }
    }

    @include sm {
      margin: 0;
      margin-bottom: 40px;
    }
  }

  .title__ {
    font-size: 14px;
    font-weight: 800;
    color: $headingMainColor;
    margin-bottom: 7px;
  }

  .date_wrapper__ {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    font-weight: 300;
    color: $paragraphMainColor;
  }

  .titme__ {
    direction: ltr;
  }

  .parag__ {
    font-size: 12px;
    color: $paragraphSecondaryColor;
    margin: 0;

    @include sm {
      text-align: center;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &.not_read{
    .icon__ {
      position: relative;

      &::after{
        content: '';
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        background-color: $mainRedColor;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #fff;
      }
    }
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($primaryColor,0.08);
    border-color: rgba($primaryColor,0.7);
  }
}