.payment_way_wrapper {
  .description_wrapper__ {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 28px 0 40px;
  }

  .title__ {
    font-size: 14px;
    font-weight: 300;
    color: $paragraphMainColor;
  }
}