.request_details_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $fourthBorderRadius;
  box-shadow: $mainShadowColor;
  padding: 30px 46px;
  gap: 100px;
  height: 96px;

  @include xs {
    padding: 15px 20px;
  }
}